### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
go-cp
go-envdir
go-telnet

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### User defined
.idea/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
